*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #F8F8F8;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  font-size: 10px;
  width: 375px;
  height: 667px;
  position: fixed;
  background-image: url("../images/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.status-bar {
  display: block;
  width: 100%;
  height: 20px;
  background-image: url("../images/mobile-status-bar.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-color: #f8f8f8;
}

@media screen and (min-width: 575px){
  .status-bar {
    background-image: url("../images/ipad-status-bar.png");
    background-position: center;
    width: 768px;
  }
}
@media screen and (min-width: 991px){
  .status-bar {
    background-image: url("../images/ipad-status-bar.png");
    background-position: center;
    width: 1024px;
  }
}

nav {
  width: 100%;
  height: 7.19%;
  padding: 2%;
  position: fixed;
  top: 3%;
  background-color: #f8f8f8;
}

@media screen and (min-width: 575px){
  nav {
    top: 1.4%;
  }
}

.nav-text {
  font-size: 1.7em;
  color: #3537E6;
  font-weight: 600;
  white-space: nowrap;
  display: inline-block;
  position: fixed;
  top: 30%;
  left: 14%;
}

@media screen and (min-width: 575px){
  .nav-text {
    font-size: 2.6em;
    top: 27%;
    left: 10%;
  }
}
@media screen and (min-width: 991px){
  .nav-text {
    font-size: 2.8em;
    top: 33%;
    left: 9%;
  }
}

.search-box {
  position: fixed;
  top: 6.6%;
  left: 48%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: 80%;
  height: 5.4%;
  background-color: #EEEEF7;
  }

@media screen and (min-width: 575px){
  .search-box {
    top: 5.2%;
    width: 82%;
  }
}

.location {
  top: 20%;
  left: 2.2%;
  width: 22px;
  position: fixed;
  display: inline-block;
}

@media screen and (min-width: 575px){
  .location {
    width: 32px;
  }
}
@media screen and (min-width: 991px){
  .location {
    width: 36px;
    top: 27%;
  }
}

.arrow-back {
  float:left;
  color: #3537E6;
  font-size: 1.1em;
  top: 5.1%;
  position: fixed;
  display: inline-block;
}

.menu {
  float:right;
  color: #3537E6;
  font-size: 1.1em;
  top: 5.1%;
  left: 91.5%;
  position: fixed;
  display: inline-block;
}

@media screen and (min-width: 575px){
  .arrow-back, .menu {
    top: 3.5%;
    font-size: 1.7em;
  }
}
@media screen and (min-width: 991px){
  .arrow-back, .menu {
    top: 3.7%;
    font-size: 2em;
  }
}

.search-results {
  width: 100%;
  top: 45%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 55%;
}

@media screen and (min-width: 575px){
  .search-results {
  top: 50%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 50%;
  }
}
@media screen and (min-width: 991px){
  .search-results {
  top: 50%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 50%;
  }
}

.arrow-down {
    width: 100%;
    color: #6A6CD9;
    font-size: 1.4em;
    background-color: #3C3EDB;
    padding-left: 49%;
    display: inline-block;
    position: fixed;
}

@media screen and (min-width: 575px){
  .arrow-down {
    font-size: 2.3em;
  }
}

.bus-line {
  display: inline-block;
  background-color: #3C3EDB;
  border-bottom: 1px solid #6A6CD9;
  padding: 7% 6%;
  width: 100%;
}

.destination {
    display: inline-block;
    width: 60%;
    padding-left: 8px;
    transform: translate(0%, 0%);
}

.frequency {
    display: inline-block;
    text-align: left;
    width: 23%;
    transform: translate(39%, 0%);
}

@media screen and (min-width: 575px){
  .frequency {
    transform: translate(60%, 0%);
  }
}
@media screen and (min-width: 991px){
  .frequency {
    transform: translate(83%, 0%);
  }
}

.signal {
  top: -20%;
  left: 53%;
  width: 8px;
  position: fixed;
  opacity: .5;
  transform: rotate(-43deg);
}

@media screen and (min-width: 575px){
  .signal {
    top: -25%;
    left: 45%;
    width: 17px;
  }
}
  @media screen and (min-width: 991px){
    .signal {
      left: 34%;
    }
}

h1 {
    white-space: nowrap;
    font-size: 1.5em;
    font-weight: 600;
    color: #EEEEF7;
}

h2 {
  white-space: nowrap;
  font-size: 1.3em;
  font-weight: 300;
  color: #C9CAEB;
  padding-top: 10px;
}

@media screen and (min-width: 575px){
  h1 {
    font-size: 2.8em;
  }
}
@media screen and (min-width: 575px){
  h2 {
    font-size: 2.5em;
  }
}

.arrow-right {
  display: inline-block;
  float: right;
  font-size: 1em;
  color: #6A6CD9;
  transform: translate(-35%, 40%);
}

@media screen and (min-width: 575px){
  .arrow-right {
    font-size: 2em;
    transform: translate(-30%, 40%);
  }
}
